Phishing-Email-Detection-Using-Machine-Learning/data/preprocessed_data.pkl
Phishing-Email-Detection-Using-Machine-Learning/data/archive/CEAS_08.csv
Phishing-Email-Detection-Using-Machine-Learning/data/archive/phishing_email.csv
